.graficas{
  padding-left: 200px;
}

.grafica-card {
  width: 100%;
}

.chart-wrapper {
  position: relative;
  width: 100%;
  height: 260px;  // o el alto que quieras
}

/* El canvas se ajusta al contenedor */
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

/* Si quieres matar el scroll horizontal en la zona de contenido */
.dashboard-content {
  overflow-x: hidden;
}
