<div class="graficas">
  <div class="row mt-4">
    <div class="col-lg-6 mb-4">
      <mat-card class="grafica-card">
        <mat-card-title>Histograma</mat-card-title>
        <mat-card-content>
          <div class="chart-wrapper">
            <canvas #histCanvas></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-4">
      <mat-card class="grafica-card">
        <mat-card-title>Gráfica de barras</mat-card-title>
        <mat-card-content>
          <div class="chart-wrapper">
            <canvas #barCanvas></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-6 mb-4">
      <mat-card class="grafica-card">
        <mat-card-title>Gráfica circular</mat-card-title>
        <mat-card-content>
          <div class="chart-wrapper">
            <canvas #pieCanvas></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 mb-4">
      <mat-card class="grafica-card">
        <mat-card-title>Gráfica de dona</mat-card-title>
        <mat-card-content>
          <div class="chart-wrapper">
            <canvas #doughnutCanvas></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
